<html layout:decorate="~{layouts/main}">
<head> 
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script th:inline="javascript">
function addFile() {

	

			var form = $("#addFileForm");
			var formData = new FormData(form[0]);
console.log(formData);
			$.ajax({
				type : "POST",
				url : "[(@{'/match?'+ ${_csrf.parameterName}+'='+${_csrf.token} })] ",
				cache : false,
				enctype : 'multipart/form-data',
				contentType : false,
				processData : false,
				data : formData,
				success : function(data) {
/* 					window.location.href = "[(@{'/staff/files/list/'})]";
 */				
 					console.log("success");
				},
				error : function(data) {
					var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>We are sorry but something went wrong. Please try again later.</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
					$('.errorAdd').append(alert);
				}
			});

		

	}
</script>
</head>
<body>
<div layout:fragment="content">
	    <span class = "errorAdd"></span>
	
	    <div class="jumbotron col-md-12">
	        <h1>Welcome!</h1>
	        <p>
	        Give us you preferences
	        </p>
	        
	        
	        <form  id= "addFileForm"  method="POST" th:object="${person}" name="form" enctype="multipart/form-data"  style="margin-top: 40px">
	         <div class="form-group row">
                <label class="col-md-2 col-form-label" for="emailId">Email Id:</label>
               	<input placeholder="Type here..." class="form-control col-md-10" type="text" id="emailId" name="emailId" th:field="${person.emailId}" />
            </div>
            
	      <div class="form-group row">
                <label class="col-md-2 col-form-label" for="firstName">First Name:</label>
               	<input placeholder="Type here..." class="form-control col-md-10" type="text" id="firstName" name="firstName" th:field="${person.firstName}" />
            </div>
            <div class="form-group row" style="margin-top: 20px">
                <label class="col-md-2 col-form-label" for="lastName">Last name</label>
               	<input placeholder="Type here..." class="form-control col-md-10" type="text" id="lastName" name="lastName" th:field="${person.lastName}" />
            </div>
            
            <div class="form-group" >
                <span>Preferences</span>
                <div class="col-sm-12">            
                <div>
                <label> What gender are you looking for?</label>
                <select th:field="${person.roommatePreferences.preferredGender}" id="preferredGender" name="preferredGender"
                                        class="form-control-xs target"
                                        style="height: 50px; width: 200px;">
                                        <option selected value="Male">Male</option>
                                        <option selected value="Female"> Female</option>
                                         <option selected value="Any"> Any gender</option>
         
                                        
                 </select>
                 </div>
                 <div>
                <label> Do you mind if your roommate drinks?</label>
                <select  th:field="${person.roommatePreferences.drink}" id="drink" name="drink"
                                        class="form-control-xs target"
                                        style="height: 50px; width: 200px;">
                                        <option selected value="Yes">Yes</option>
                                        <option selected value="No">No</option>
                                       <option selected value="Occasionally">Occasioanally</option>
                                        
                 </select>
                 </div>
                 <div>
                 <label> Do you mind if your roommate smokes?</label>
                <select th:field="${person.roommatePreferences.smoke}" id="smoke" name="smoke"
                                        class="form-control-xs target"
                                        style="height: 50px; width: 200px;">
                                        <option selected value="Yes">Yes</option>
                                        <option selected value="No">No</option>
                                       <option selected value="Occasionally">Occasioanally</option>
                                        
                 </select>
                 </div>
                 <div>
                     <label> Do you mind if your roommate brings pets?</label>
                <select  th:field="${person.roommatePreferences.pets}" id="pets" name="pets"
                                        class="form-control-xs target"
                                        style="height: 50px; width: 200px;">
                                        <option selected value="Yes">I love pets</option>
                                        <option selected value="No"> Don't want pets</option>
         
                                        
                 </select>
                 </div>
                 <div>
                  <label> What's your maximum budget? </label>
                  
                  <input type="budget"> </input>
             
                 </div>
                 
                 <div>
                       <label>Are you  looking for a furnished apartment?</label>
                           <select  th:field="${person.roommatePreferences.furnished}" id="pets" name="pets"
                                        class="form-control-xs target"
                                        style="height: 50px; width: 200px;">
                                        <option selected value="Yes">Yes</option>
                                        <option selected value="No"> No</option>
           
         
                                        
                 </select>
                 </div>
                  <div>
                       <label>Any Zip code?</label>
                     <input type="number"> </input>
                 </div>
                  <div>
                       <label>Any Nationality preference?</label>
                   <select  th:field="${person.roommatePreferences.furnished}" id="pets" name="pets"
                                        class="form-control-xs target"
                                        style="height: 50px; width: 200px;">
                                        <option selected value="US">US Citizen</option>
                                        <option selected value="Asian"> Asian</option>
                                        <option selected value="Hispanic"> Hispanic</option>
                                        <option selected value="All"> No preference</option>
           
         
                                        
                 </select>
                 </div>
            </div>
	        </form>
	        
<!-- 	        <input type="submit"  class = "btn primary-btn" id="search"  onClick=addFile()> Search roommate now</input>
 -->	        <button class="btn primary-btn" type="button" value="submit" onClick="addFile()">Search roommate now</button>
	        
	    </div>
	
</div>
</body>
</html>